<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Product list to cart</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link th:href="@{/css/main.css}" type="text/css" rel="stylesheet" />
</head>
<body>
<div class="container_cart">
  <h1>
    <td>
      <a class="btn_all_pr" th:href="@{'/product/showProducts'}"  role="button">All products</a>
    </td>
  </h1>
  <table class="table">
    <thead>
    <tr class="thead-dark">
      <td>Id</td>
      <td>Title</td>
      <td>Cost</td>
    </tr>
    </thead>
    <tr th:each="product : ${products}">
      <td th:text="${product.productId}"/>
      <td th:text="${product.productName}"/>
      <td th:text="${product.productCoast}"/>

      <td>
        <a class="btn-danger_cart btn-3" th:href="@{'/product/idDelete' + '?id=' + ${product.id}}"  role="button">DeleteToCart</a>
      </td>
    </tr>
  </table>
  <td>
    Total: <td th:text="${finalPrice}"/>
  </td>
  <td>
    <a class="btn_add_order btn-5" th:href="@{'/product/addOrder'}"  role="button">Checkout</a>
  </td>
  <br>
</div>
</body>
</html>